<% title "Comments" %>

<div id="comments">
  <% if !@comments.blank? %>
    <% for comment in @comments %>
      <div class="comment">
        <%= simple_format comment.content %>
      </div>      
    <% end %>
  <% else %>
    NOPE
  <% end %>
</div>

<p><%= link_to "New Comment", new_comment_path %></p>
